*{
    margin:0px;
    padding:0px;

}
body,html{
    width:vw;
}


.navbar{
    background-color: #029d9d;
    height:100px;
    color:white;
    display:flex;
    
}
.heading{
    width:20%;
}
.nav_text{
    width:60%;
    height:100%;
    display:flex;
    justify-content:space-evenly;
    font-size: large;
    font-weight: 500;
    align-items:center;
     
}
.nav_text p:hover{
    text-decoration:underline;

}
.btn{
    
    margin-right:20px;
    display:flex;
    justify-content:flex-start;
}
.heading{
    display:flex;
    justify-content:flex-end;
    cursor:pointer;
}


.content{
    height:450px;
    width:600px;
    
}

.content_box{
    display:flex;
    justify-content:center;
   margin:20px;
   cursor:pointer;
}
.cont_text1{
    font-family:cursive;
    font-size:60px;
    color: #fcc603;
}
.cont_text2{
    font-style:normal;
    font-size:50px;
    font-weight: 500;
    color:#17233f;
}
.cont_text3{
    color:grey;
    font-size:20px;
}
.head1{
    color:#fcc603;
    font-family:cursive;
    font-size:40px;
    text-align:center;
}
.head2{
    font-style:italic;
    font-size:30px;
    text-align:center;
}
.allimg{
    transition: box-shadow 0.3s ease-in-out;
}
.img1{
    height:400px;
    width:600px;
    background-image: url("./images/destination-1.jpg");
    background-size:cover;
    margin:10px;
    border-radius:6px;
}
.img2{
    height:400px;
    width:600px;
    background-image: url("./images/destination-2.jpg");
    background-size:cover;
    margin:10px;
    border-radius:6px;

}
.img3{
    height:400px;
    width:600px;
    background-image: url("./images/london\ \(1\).jpg");
    background-size:cover;
    margin:10px;
    border-radius:6px;
    
}
.img4{
    height:400px;
    width:600px;
    background-image: url("./images/india.png");
    background-size:cover;
    margin:10px;
    border-radius:6px;
}
.images{
    display:flex;
    flex-wrap: wrap;
    margin:10px;
    color:#fcc603;
    font-family:cursive;
    font-weight:900;
    font-size:x-large;
    justify-content:center;
    cursor:pointer;
     
    
}
.allimg:hover{
    box-shadow: 2px 4px 27px 0px rgba(53,53,53,0.73);
}
.hero1{
    margin-top:100px;
}
.hero2{
    margin-top:80px;
}
.img_a{
    background-image: url("./images/popular-1.jpg");
    background-size:cover;
    height:250px;
    width:357px;
    border-radius:6px;
    margin-right:10px;
}
.img_b{
    background-image:url("./images/popular-2.jpg");
    height:250px;
    width:357px;
    background-size:cover;
    border-radius:6px;
    margin-right:10px;
 margin-left:10px;
}
.img_c{
    background-image: url("./images/popular-3.jpg");
    height:250px;
    width:357px;
    background-size:cover;
    border-radius:6px;
    margin-left:10px;
}
.tours{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    cursor:pointer;

}
.box{
    height:250px;
    width:357px;
    
}
.box_a{
    margin-left:10px;
}
.box_b{
    margin-left:10px;
    margin-right:10px;
}
.box_c{
    margin-left:10px;
}
.hero3_text{
    width:600px;
    margin-left:30px;
}
.footer{
    width:100vw;
    height:350px;
    background-image: url("./images/footer-bg.png");
    background-size:cover;
    background-color:#17233f;
    margin-top:60px;
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
}
.foot_text:hover{
    color:white;
    cursor:pointer;


}
.hero3_img{
    background-image: url("./images/about-banner.png");
    background-size: cover;
    height:557px;
    width:500px;
    margin-left:80px;
}
.hero3{
    display:flex;
}
.img_abc{
    transition: box-shadow 0.3s ease-in-out;
}
.img_abc:hover{
    box-shadow: 2px 4px 27px 0px rgba(53,53,53,0.73);
  
}
.up_btn{
    position:fixed;
    z-index: 2;
    right:20px;
    bottom:20px;

    width:30px;
    height:30px;
    border-radius:50%;
    font-size:x-large;
    color:#fcc603;

    
}
.imgabc_text{
    height:200px;
    width:357px;
    border-radius:6px;
    color:grey;
    font-weight:600;
    padding-top:10px;
    margin-left:10px;
    background-color:azure;
    padding-left:5px;


}
.price{
    color:white;
    background-color: #029d9d;
    height:40px;
    width:90px;
    font-weight: 400;
    border-radius:6px;
    display:inline;
    margin-right:40px;
    margin-left:20px;
    
}
.price:hover,.rating:hover{
    border:1px solid black;

}
.rating{
    background-color: #fcc603;
    color:white;
    height:40px;
    width:120px;
    border-radius: 6px;
    display: inline;
   
}

.cursor{
    cursor:pointer;
}